{% extends 'index.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row justify-content-between">

    <div class="col-lg-4 mt-5">
        <h2>Add Customer Details</h2>

        <form action="" method="post">
            {% csrf_token %}

            <label for="InputFirst" class="form-label">First Name</label>
            <input type="text" class="form-control" id="InputFirst" required name="InputFirst">

            <label for="InputLast" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="InputLast" required name="InputLast">

            <label for="InputPhone" class="form-label">Phone</label>
            <input type="number" min="10" class="form-control" id="InputPhone" required name="InputPhone">

            <label for="InputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="InputAddress" required name="InputAddress">

            <input type="submit" value="Add" class="btn btn-outline-dark mt-4">
            <a href="{% url 'csv' %}" class="btn btn-outline-dark mt-4">Import CSV</a>
        </form>
    </div>

    <div class="col-lg-7 mt-5 table-responsive">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in page_obj %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.first}}</td>
                    <td>{{i.last}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.address}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" style="color: #121211; margin-right: 20%;"><i
                                class="fa-sharp fa-solid fa-user-pen"></i></a>
                        <a href="{% url 'delete' i.id %}" style="color: #121211;"><i
                                class="fa-sharp fa-solid fa-trash"></i></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="btn btn-sm btn-outline-dark">Next</a>
        {% endif %}

        <span>PageNumber: {{page_obj.number}}</span>

        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="btn btn-sm btn-outline-dark">Previous</a>
        {% endif %}

    </div>
</div>
{% endblock %}